.form-mapping__footer{
    background: white;
    color: white;
    padding: 12px;
    margin: 12px;
    border-radius: 12px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}