.form-mapping__header{
    background: linear-gradient(to right, #32579e, #779ae1);
    color: white;
    padding: 30px;
    // margin: 12px;
    border-radius: 12px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}