.questions-flow-wrapper {
  display: grid;
  padding: 12px;
  grid-template-columns: 2fr auto;
  grid-template-rows: 1fr;
  grid-template-areas: "item1 item2";
}

.questions-flow-section-one {
  width: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}
.questions-flow-header-section {
  background: white;
  padding: 8px;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.questions-flow-header-align {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.questions-flow-header-text {
  padding-left: 24px;
}
.questions-flow-header-error {
  color: tomato;
  font-size: 0.8rem;
}
.question-flow-error-star {
  font-size:xx-small; 
  vertical-align:super;
}
.questions-flow-success-popup {
  padding: 20px 20px 0 20px;
  
}
.questions-flow-success-popup-status {
  padding: 20px 20px 0 0px;
  
}
.questions-flow-header-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.questions-flow {
  flex-direction: column;
  // padding: 20px 20px;
  float: inline-start;
  width: 100%;
  box-shadow: 0px 0.2px 2px 0 rgba(0, 0, 0, 0.3);
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  &__close-button{
    text-align: center;
  }
  &__create {
    width: 300px;
    background-color: #ffffff;
    border-radius: 8px;
    &-header {
    //  display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
      align-items: center;
    }
  }
}

.questions-flow-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: item1;
  margin: unset;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto
}

.input_select {
  margin-top: 4px;
}
.question-tile-wrapper {
  padding: 16px;
}
.side-bar__wrapper {
  display: flex;
  grid-area: item2;
  margin-top: 0;
  position: fixed;
  right: 18px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.side-bar__header {
  padding: 12px;
  background: white;
  border-radius: 8px;
  margin-left: 8px;
}
.questions__close-button {
  background: rgb(182, 182, 217);
  height: 20px;
  width: 20px;
  padding: 12px;
  cursor: pointer;
  color: white;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.publish-questions__footer {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .questions-flow-wrapper {
    display: grid;
    grid-template-areas:
      "item1"
      "item2";
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
  }
  .side-bar__wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    grid-area: item2;
    margin-top: 12px;
  }
}
@media (min-width: 2000px) {
  .questions-flow-header {
    margin-left: auto;
    margin-right: auto;
  }
}
