.unit-documents{
    min-width: 780px;
    &__documents {
        display: flex;
        border: 1px solid rgb(235, 235, 235);
        margin-top: 8px;
        padding: 12px 8px;
        cursor: pointer;
  
        &-wrapper {
          display: flex;
          flex-direction: column;
          margin-right: 20px;
          border: 1px solid rgb(255, 255, 255);
          padding: 12px;
          min-width: 100px;
          align-items: center;
          gap: 4px;
        }
  
        &-wrapper:hover {
          border: 1px dashed rgb(227, 227, 227);
        }
      }
      &__form-name {
        font-size: 12px;
        color: currentColor;
        cursor: pointer;
      }
      &__site-map{
        margin-left: 0rem;
        margin-top: 1rem;
        cursor: pointer;
      }
}