.container {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  .inlineFlex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pageInfo {
    padding: 8px;
    color: dodgerblue;
    font-size: 14px;
  }