.text-updater-node {
    height: 50px;
    width: 200px;
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 5px;
    background: white;
    border: 1px solid darkgoldenrod;
  }
  
  .text-updater-node label {
    display: block;
    color: #ffffff;
    font-size: 12px;
  }
  