.my-properties {
  padding-left: 20px;
  padding-right: 20px;
  &__delete-toggle{
    // padding: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 12px;
  }
  &__toggle-button-wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-end;
    width: 100%;
  }
  &__property-manager-select-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  &__add-properties-section {
    margin-top: 20px;
    box-shadow: 0 0.5px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background: linear-gradient( 90deg,#32579e,#779ae1);
    display: flex;
    justify-content: center;
    padding: 12px 0;
  }
  &__add-properties-filter-section {
    margin-top: 20px;
    box-shadow: 0 0.5px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 12px 0;
    flex-wrap: wrap;
    &-header{
      margin: 3px;
    }
  }
  &__filter-input-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  &__select-label{
    font-size: small;
    margin-left: 2px;
    margin-bottom: 4px;
  }
  &__header-wrapper {
    display: flex;
    align-items: center;
    padding: 16px 0;
    flex-wrap: wrap;
  }
  &__header {
    font-weight: 500;
    font-size: 20px;
    &-text {
      margin-right: 2px;
    }
  }
  &__list {
    display: flex;
  }
  &__section {
    &-one {
      border-radius: 8px;
      box-shadow: 0 0.5px 2px 0 rgba(0, 0, 0, 0.2);
      display: flex;
      flex-wrap: wrap;
      background-color: white;
      border-radius: 8px;
      align-items: center;
      justify-content: center;
      padding: 15px;
    }
  }
  &__view-all-listing-button {
    display: flex;
    justify-content: center;
    padding: 12px 0;
  }
}
.css-b62m3t-container{
  min-width: 230px;
  font-size: 1rem;
  font-weight: 200;
}
.css-1nmdiq5-menu{
  max-width: 230px;
  margin-left: 2px;
}
